* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #1F1E23;
    font-weight: 500;
    font-family: "Microsoft YaHei", "宋体", "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif, FreeSans, Arimo;
}

.content {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

#logo {
    font-size: 30px;
    color: white;
}

#btn {
    font-size: 20px;
    color: white;
}

#scale:hover {
    transform: scale(1.2);
    transition: 0.5s;
    height: 100%;
    width: 100%;
}

.search {
    background: white;
    width: 85%;
    margin: 0 auto;
}

.search button {
    background-image: url("/static/img/search.png");
    width: 30px;
    height: 16px;
    border: none;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.nav {
    background: #1F1E23;
    font: bold 20px/30px sans-serif;
    margin-left: 8%;
}

.nav li {
    float: left;
    position: relative;
    margin-right: 2px;
    background: none;
    width: 14%;
}

.nav a {
    background: none;
    width: 50%;
    color: #FFFFFF;
    display: block;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

#nava {
    width: 50%;
}

.nav li:hover a {
    color: #67120E;
    background: white;
}

#navlist {
    left: 0;
    opacity: 0;
    width: 100%;
    height: 200px;
    float: left;
    padding-top: 10px;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
    font-size: 16px;
}

.nav li:hover ul#navlist {
    opacity: 1;
    top: 40px;
    visibility: visible;
}

.nav > li {
    position: relative;
}

#navlist li {
    float: none;
    text-align: left;
}

#navlist a:hover {
    background: #861B14;
    color: white;
    text-align: left;
}

#navlist a {
    text-align: left;
    color: #474849;
    font-size: 16px;
    width: 140px;
    padding-left: 25px;
}

.text-desc {
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    background-color: gray;
    height: 100%;
    width: 100%;
    padding: 20px;
    opacity: 0.8;
    filter: alpha(opacity=50);
    text-align: center;
}

.img_tips {
    float: left;
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.img_tips .text-desc {
    top: -100%;
    transition: 0.5s;
    color: white;
}

.img_tips img {
    transition: 0.5s;
    width: 100%;
    height: 200px;
}

.img_tips:hover img {
    transform: scale(1.2);
}

.img_tips.effect .text-desc {
    top: auto;
    bottom: -100%;
}

.img_tips.effect:hover .text-desc {
    bottom: 0;
}

video {
    border: 1px solid black;
    padding: 0;
    margin: 0;
    width: 700px;
    height: 500px;
    background-color: black;
    margin: auto;
    display: block;
}

.universityNav div {
    float: left;
}

#selected{
    color: #861B14;
    font-size: 18px;
}

#selected:hover {
    color: #861B14;
    font-size: 18px;
}

#unselected{
    color: #616263;
    font-size: 18px;
    margin-left: 1%
}

#unselected:hover{
    color: #861B14;
    font-size: 18px;
}
