{{template "comm/head.html" .}}
<div class="layui-row">
{{template "comm/nav.html" .}}
    <div class="content layui-row">
        <div class="layui-col-md8" style="text-align: center;">
            <h1>标题</h1>
            <h3>这是测试</h3>
            <audio id="video" style="padding-top: 200px;margin-bottom: 100px;" controls=true>
                <source src="/static/audio/music.mp3"/>
                <source src="/static/audio/music.ogg"/>
                你的浏览器不支持video标签。
            </audio>
        </div>
        <div class="layui-col-md4" style="text-align: center;">
            <h2>详细内容</h2>
            <h4>今天...</h4>
            <h4>今天...</h4>
            <h4>今天...</h4>
            <h4>今天...</h4>
            <h4>今天...</h4>
            <h4>今天...</h4>
            <h4>今天...</h4>
            <h4>今天...</h4>
            <h4>今天...</h4>
            <h4>今天...</h4>
            <h4>今天...</h4>
            <h4>今天...</h4>
            <h4>今天...</h4>
        </div>
    </div>
</div>
{{template "comm/foot.html" .}}