{{template "comm/head.html" .}}
<div style="background-color: #33353f;color: white;">
    <div class="layui-row"
         style="width:60%;margin-left:15%;margin-top:5%;margin-left:15%;border-radius: 4px;padding: 10px;">
        <div class="layui-col-xs6">
            <a href="/"><img src="/static/img/login.jpg" style="width: 100%;height: 380px;"></a>
        </div>
        <div class="layui-layout" style="text-align: center;">
    <!-- <div style="margin:10px 0px">
        <blockquote class="layui-elem-quote">   
            描述:...
        </blockquote>
    </div> -->
    <form class="layui-form layui-col-md6" action="" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 90px;">应用名称</label>	
            <div class="layui-input-inline">
                <input type="text" name="name" value="sanskrit	" id="name" lay-verify="required" autocomplete="on"
                       placeholder="名称"
                       class="layui-input" value="">
            </div>
            <div class="layui-form-mid layui-word-aux">*英文，中文</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 90px;">渠道</label>
            <div class="layui-input-inline">
                <select name="channel">
                    <option value="">选择渠道</option>
                	<option value="sanskrit" selected="">官方</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 90px;">平台</label>
            <div class="layui-input-inline">
                <select name="platform">
                    <option value="">选择平台</option>
                	<option value="android" selected>android</option>
                	<option value="ios">ios</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 90px;">环境</label>
            <div class="layui-input-inline">
                <select name="env">
                    <option value="">选择环境</option>
                	<option value="0" selected>测试</option>
                	<option value="1">准生产</option>
                	<option value="2">生产</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 90px;">版本</label>
            <div class="layui-input-inline">
                <input type="text" name="version" value="{{.Version}}" id="version" lay-verify="required"
                       autocomplete="on" placeholder="版本"
                       class="layui-input" value="">
            </div>
            <div class="layui-form-mid layui-word-aux">*数字:1.0</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 90px;">文件</label>
            <div class="layui-input-inline">
                <button type="button" class="layui-btn" id="url"><i class="layui-icon"></i>上传文件</button>
                <input type="hidden" name="url" id="file" lay-verify="required" autocomplete="off"
                       class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">*apk</div>
        </div>
         <div class="layui-form-item">
            <label class="layui-form-label" style="width: 90px;">更新间隔(小时)</label>
            <div class="layui-input-inline">
                <select name="internel">
                    <option value="">选择时间</option>
                    <option value="1" selected>1</option>
              		<option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
        </div>	
         <div class="layui-form-item">
            <label class="layui-form-label" style="width: 90px;">更新次数</label>
            <div class="layui-input-inline">
                <select name="times" style="color: red;">
                    <option value="">选择次数</option>
                    <option value="1">1</option>
              		<option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10" selected>10</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 90px;">更新模式</label>
            <div class="layui-input-inline">
                <select name="status">
                    <option value="">选择模式</option>
                    <option value="0" selected>普通更新</option>
                    <option value="1">强制更新</option>
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">
         </div>
         <div class="layui-form-item">
                <label class="layui-form-label" style="width: 90px;">更新内容</label>
                <div class="layui-input-block" style="padding-top: 20px;">
                    <textarea name="content" id="content" placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
           </div>  
         {{template "comm/submit.html" .}}
    </form>
</div>
	</div>
</div>
<script>
    var $;
    layui.config({
        base: "js/"
    }).use(['form', 'element', 'layer', 'jquery', 'upload'], function () {
        var $ = layui.jquery
                , upload = layui.upload;
        upload.render({
            elem: '#url'
            , url: '/upload'
            , accept: '*' //普通文件
            , exts: 'apk'
            , multiple: 'false'
            , done: function (res) {
                console.log(res)
                if (res.code > 0) {
                    return layer.msg('上传失败!')
                }
                $('#file').attr('value', res.message)
                layer.msg('上传成功!')
            }
        });

        var form = layui.form;
        var $ = layui.jquery;
        form.on('submit(sub)', function (data) {
            var form_data = $("form").serialize()
            $.post('{{urlfor "UpdateController.AjaxSave"}}', form_data, function (out) {
                if (out.status == 0) {
                    layer.msg("操作成功", {icon: 1}, function () {
                        window.location.href = '{{urlfor "UpdateController.List"}}'
                    })
                } else {
                    layer.msg(out.message)
                }
            }, "json");
            return false	
        });
        form.render();
    });
</script>
{{template "comm/foot.html" .}}