<div class="site-demo-flow" id=channelFlow>
    {{ range $k,$v := .maps}}
        {{ if  eq "0" $v.blog.format }}
            <div class="layui-col-xs3" style="height: 100%;padding-right: 10px;">
            <div class="img_tips effect">
                <div class="">
                    <img src="{{.blogCover}}" alt="失效!">
                </div>
                <a href="/blog?channelId={{.id}}">
                    <div class="text-desc layui-col-md5">
                        <h2>-------------</h2>
                        </br>
                        <h2>{{.blog.nick}}</h2>
                        </br>
                        <h3>{{.des}} {{.nick}}</h3>
                        </br>
                        <h2>-------------</h2>
                    </div>
                </a>
            </div>
            <div class="layui-row" style="width: 100%;color:#808080;">
                <div class="layui-col-xs3" style="width: 30%;">
                    <img src="/static/img/like.png">{{.Like}}
                </div>
                <div class="layui-col-xs3" style="width: 40%;text-align: center;">
                    <img src="/static/img/follow.png">{{.Follow}}
                </div>
                <div class="layui-col-xs3" style="width: 30%;text-align: right;">
                    <img src="/static/img/info.png"/>{{.Info}}万
                </div>
            </div>
            <div class="layui-row" style="color: #fffff9;">
                <div class="layui-col-xs1" style="width: 80%;">
                    <img src="{{.icon}}"
                         class="layui-nav-img" style="width: 20px;height: 20px;">{{.nick}}
                </div>
                <div class="layui-col-xs1" style="width: 20%;">
                {{.Before}}
                </div>
            </div>
            </div>
        {{else if eq "1" $v.blog.format }}
            <div class="layui-col-xs3" style="height: 100%;padding-right: 10px;">
            <div class="img_tips effect">
                <div class="image-box">
                    <img src="{{.Icon}}" alt="失效!">
                </div>
                <a href="/blog?channelId={{.id}}">
                    <div class="text-desc layui-col-md5">
                        <img src="/static/img/play.png" style="width: 30px;height: 30px;margin-top: 30%;"/>
                    </div>
                </a>
            </div>
            <div class="layui-row" style="width: 100%;color:gray;">
                <div class="layui-col-xs3" style="width: 30%;">
                    <img src="/static/img/like.png">{{.Like}}
                </div>
                <div class="layui-col-xs3" style="width: 40%;text-align: center;">
                    <img src="/static/img/follow.png">{{.Follow}}
                </div>
                <div class="layui-col-xs3" style="width: 30%;text-align: right;">
                    <img src="/static/img/info.png"/>{{.Info}}万
                </div>
            </div>
            <div class="layui-row" style="color: #fffff9;">
                <div class="layui-col-xs1" style="width: 80%;">
                    <img src="{{.User.Icon}}"
                         class="layui-nav-img" style="width: 20px;height: 20px;">{{.User.Name}}
                </div>
                <div class="layui-col-xs1" style="width: 20%;">
                {{.Before}}
                </div>
            </div>
            </div>
        {{else if eq "2" $v.blog.format }}
            <div class="layui-col-xs3" style="height: 100%;padding-right: 10px;">
            <div class="img_tips effect">
                <div class="image-box">
                    <img src="{{.Icon}}" alt="失效!">
                </div>
                <a href="/blog?channelId={{.id}}">
                    <div class="text-desc layui-col-md5">
                        <img src="/static/img/play.png" style="width: 30px;height: 30px;margin-top: 30%;"/>
                    </div>
                </a>
            </div>
            <div class="layui-row" style="width: 100%;color:gray;">
                <div class="layui-col-xs3" style="width: 30%;">
                    <img src="/static/img/like.png">{{.Like}}
                </div>
                <div class="layui-col-xs3" style="width: 40%;text-align: center;">
                    <img src="/static/img/follow.png">{{.Follow}}
                </div>
                <div class="layui-col-xs3" style="width: 30%;text-align: right;">
                    <img src="/static/img/info.png"/>{{.Info}}万
                </div>
            </div>
            <div class="layui-row" style="color: #fffff9;">
                <div class="layui-col-xs1" style="width: 80%;">
                    <img src="{{.User.Icon}}"
                         class="layui-nav-img" style="width: 20px;height: 20px;">{{.User.Name}}
                </div>
                <div class="layui-col-xs1" style="width: 20%;">
                {{.Before}}
                </div>
            </div>
            </div>
        {{else}}
            <div class="layui-col-xs3" style="height: 100%;padding-right: 10px;">
            <div class="img_tips effect">
                <div class="image-box">
                    <img src="{{.Icon}}" alt="失效!">
                </div>
                <a href="/blog?channelId={{.id}}">
                    <div class="text-desc layui-col-md5">
                        <img src="/static/img/play.png" style="width: 30px;height: 30px;margin-top: 30%;"/>
                    </div>
                </a>
            </div>
            <div class="layui-row" style="width: 100%;color:gray;">
                <div class="layui-col-xs3" style="width: 30%;">
                    <img src="/static/img/like.png">{{.Like}}
                </div>
                <div class="layui-col-xs3" style="width: 40%;text-align: center;">
                    <img src="/static/img/follow.png">{{.Follow}}
                </div>
                <div class="layui-col-xs3" style="width: 30%;text-align: right;">
                    <img src="/static/img/info.png"/>{{.Info}}万
                </div>
            </div>
            <div class="layui-row" style="color: #fffff9;">
                <div class="layui-col-xs1" style="width: 80%;">
                    <img src="{{.User.Icon}}"
                         class="layui-nav-img" style="width: 20px;height: 20px;">{{.User.Name}}
                </div>
                <div class="layui-col-xs1" style="width: 20%;">
                {{.Before}}
                </div>
            </div>
            </div>  
        {{end}}
    {{end}}
</div>
<script>
layui.use('flow', function(){
  var flow = layui.flow;
  // 按屏加载图片
  flow.lazyimg({
    elem: '#channelFlow img'
    ,scrollElem: '#channelFlow' //一般不用设置，此处只是演示需要。
  });
  
});
</script>