{{template "comm/top.html" .}}
<div class="layui-row" style="background: #67120E;margin-bottom: 10px;">
    <ul class="nav">
    {{range $k,$v := .nav}}
        <li>
            <a href="{{$v.Action}}">{{$v.Name}}</a>
            <ul id="navlist">
            {{range $i,$j := $v.NavList}}
            {{/*<div class="layui-row">*/}}
            {{/*<div class="layui-col-md1">*/}}
            {{/*{{range  $j}}*/}}
            {{/*<li><a href="{{.Action}}">{{.Name}}</a></li>*/}}
            {{/*{{end}}*/}}
            {{/*</div>*/}}
            {{/*</div>*/}}
                <li><a href="{{.Action}}">{{.Name}}</a></li>
            {{end}}
            </ul>
        </li>
    {{end}}
    </ul>
</div>