{{template "comm/top.html" .}}
<div class="layui-row" style="background: white;margin-bottom: 0px; width: 80%;
margin-left: 0%;
    margin-right: 10%;
    padding-right: 5px;
    padding-left: 5px;">
    <ul class="nav" style="background: #33353f;width: 100%;">
    {{range $k,$v := .nav}}
        <li style="width: 120px; background: #33353f">
            <a href="{{$v.Action}}">{{$v.Name}}</a>
            <ul id="navlist">
            {{range $i,$j := $v.NavList}}
            {{/*<div class="layui-row">*/}}
            {{/*<div class="layui-col-md1">*/}}
            {{/*{{range  $j}}*/}}
            {{/*<li><a href="{{.Action}}">{{.Name}}</a></li>*/}}
            {{/*{{end}}*/}}
            {{/*</div>*/}}
            {{/*</div>*/}}
                <li><a href="{{.Action}}">{{.Name}}</a></li>
            {{end}}
            </ul>
        </li>
    {{end}}
    </ul>
</div>