<div class="content layui-row">
    <div class="layui-col-md8" style="text-align: center;">
    <canvas id="canvas" width="800" height="350"></canvas>
    <br/>
    <audio src="{{.url}}" id="audio" controls>audio element not supported</audio>
    </div>
    <div class="layui-col-md4" style="text-align: center;">
                <h2>详细内容</h2>
                <h4>{{.nick}}</h4>
                <h4>{{.nick}}</h4>
                <h4>{{.icon}}</h4>
                <h4>今天...</h4>
                <h4>今天...</h4>
                <h4>今天...</h4>
                <h4>今天...</h4>
                <h4>今天...</h4>
                <h4>今天...</h4>
                <h4>今天...</h4>
                <h4>今天...</h4>
                <h4>今天...</h4>
                <h4>今天...</h4>
    </div>
</div>