<div class="content layui-row">
    <div class="layui-col-md8" style="text-align: center;">
        <div><a href="/blog?channelId={{.id}}"><img
                    src="{{.url}}"
                    width="100%;"
                    height="100%" alt="{{.des}}"></a>
        </div> 
    </div>
    <div class="layui-col-md4" style="text-align: center;">
                <h2>详细内容</h2>
                <h4>{{.urls}}</h4>
                <h4>{{.nick}}</h4>
                <h4>{{.icon}}</h4>
                <h4>今天...</h4>
                <h4>今天...</h4>
                <h4>今天...</h4>
                <h4>今天...</h4>
                <h4>今天...</h4>
                <h4>今天...</h4>
                <h4>今天...</h4>
                <h4>今天...</h4>
                <h4>今天...</h4>
                <h4>今天...</h4>
    </div>
</div>